<h1 class="page-title"><span class="fw-semi-bold">Briefcase</span></h1>
<div class="d-flex flex-row justify-content-between">
  <h6><a [routerLink]="">konstantin.malikov's Briefcase</a> (<a [routerLink]="">konstantin.malikov</a>)</h6>
  <h6>
    <span class="icons-group"><a [routerLink]="">Preferences</a></span>
    <span class="icons-group"><a [routerLink]="">About</a></span>
    <span class="icons-group"><a [routerLink]=""><span class="glyphicon glyphicon-qrcode"></span></a></span>
  </h6>
</div>
<section class="widget">
  <header>
    <div class="d-flex flex-row animated fadeIn" *ngIf="isMainScreen === 'main'">
      <div class="icons-group d-flex flex-row">
        <app-fi-icons icon="return" label="refresh" active="true" (click)="setAnotherScreen('another')"></app-fi-icons>
        <app-fi-icons icon="expand" label="up"></app-fi-icons>
      </div>

      <div class="icons-group d-flex flex-row">
        <app-fi-icons icon="home" label="home"></app-fi-icons>
        <app-fi-icons icon="folder" label="new folder"></app-fi-icons>
      </div>

      <div class="icons-group d-flex flex-row">
        <app-fi-icons icon="content" label="copy"></app-fi-icons>
        <app-fi-icons icon="right-arrow" label="move"></app-fi-icons>
        <app-fi-icons icon="close" label="delete"></app-fi-icons>
      </div>

      <div class="icons-group d-flex flex-row">
        <app-fi-icons icon="adjust" label="properties"></app-fi-icons>
        <app-fi-icons icon="share" label="share"></app-fi-icons>
        <app-fi-icons icon="tag-black-shape" label="tag"></app-fi-icons>
      </div>

      <div class="icons-group d-flex flex-row">
        <app-fi-icons icon="indicator" label="upload"></app-fi-icons>
        <app-fi-icons icon="document" label="create"></app-fi-icons>
        <app-fi-icons icon="document" label="create link"></app-fi-icons>
      </div>

      <div class="icons-group d-flex flex-row">
        <app-fi-icons icon="bookmark" label="bookmark"></app-fi-icons>
      </div>
    </div>

    <div class="d-flex flex-row animated fadeIn" *ngIf="isMainScreen === 'another'">
      <div class="icons-group d-flex flex-row">
        <app-fi-icons icon="back" label="back" active="true" (click)="setAnotherScreen('main')"></app-fi-icons>
      </div>
    </div>

  </header>
  <div class="widget-body">
    <app-briefcase-list *ngIf="isMainScreen === 'main'"></app-briefcase-list>
  </div>
</section>
