<dev-toast class="toast fade"></dev-toast>
<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-md-6 col-10">
        <!--<h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          vios
          <i class="fa fa-circle text-info"></i>
        </h5>-->
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login to your account</h3>
          </header>
          <div class="widget-body">
            <p class="widget-login-info">
              Use your VIOS network login to sign in.
            </p>
            <p class="widget-login-info">
              Don't have an account? Sign up now!
            </p>
            <form class="login-form mt-lg" #form="ngForm">
              <div class="form-group">
                <input required type="text" id="login" [(ngModel)]="formModel.login" #login="ngModel" name="login" placeholder="Login"  class="form-control">
              </div>
              <div class="form-group" *ngIf="registrationForm">
                <input required type="text" id="email" [(ngModel)]="formModel.email" #email="ngModel" name="email" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input required type="password" id="password" [(ngModel)]="formModel.password" #password="ngModel" name="password" placeholder="Password" class="form-control">
              </div>
              <div class="form-group" *ngIf="registrationForm">
                <input required type="password" id="passwordCheck" [(ngModel)]="formModel.passwordCheck" #passwordCheck="ngModel" name="passwordCheck" placeholder="Enter password again" class="form-control">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar float-right m-t-1">
                  <button (click)="registrationForm = false"
                          *ngIf="registrationForm"
                          class="btn btn-default btn-sm"
                          type="button">Back to login</button>

                  <button (click)="registrationForm = true"
                          *ngIf="!registrationForm"
                          class="btn btn-default btn-sm"
                          type="button">Create an Account</button>

                  <a *ngIf="!registrationForm"
                     [class.disabled]="!form.form.valid"
                     (click)="doLogin()" class="btn btn-inverse btn-sm" [routerLink]="">Login</a>
                  <a *ngIf="registrationForm"
                     [class.disabled]="!form.form.valid || !(formModel.password === formModel.passwordCheck)"
                     (click)="doRegister()" class="btn btn-inverse btn-sm" [routerLink]="">Register</a>
                </div>
              </div>
              <div class="row m-t-1">
                <div class="col-md-6 order-md-2">
                  <div class="clearfix">
                    <div class="form-check abc-checkbox widget-login-info float-right pl-0">
                      <input class="form-check-input" type="checkbox" id="checkbox1">
                      <label class="form-check-label" for="checkbox1">Keep signed in </label>
                    </div>
                  </div>
                </div>
                <!--<div class="col-md-6 order-md-1">
                  <a class="mr-n-lg" href="#">Trouble with account?</a>
                </div>-->
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <!--<footer class="page-footer">
    2017 &copy; Sing. Admin Dashboard Template.
  </footer>-->
</div>
