:host.flex-column-use {
  display: flex !important;
  flex-direction: column!important;
  align-items: center!important;
  opacity: 0.55;
  span {
    font-size: 0.8em;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  &.active {
    cursor: pointer;
    span {
      color: #9964e3 !important;
    }
    &:hover {
      opacity: 1;
    }
  }
}

svg {
  width: 20px;
  height: 20px;
  &.sm {
    width: 16px;
    height: 16px;
  }
  &.lg {
    width: 24px;
    height: 24px;
  }
}
