<div class="modal-header">
  <div style="width: 100%;">
    <div *ngIf="loggedIn">
      <div class="d-flex justify-content-between flex-wrap">
        <h3>Arkan User - {{name}}</h3>
        <div>
          <a class="text-sm" href="javascript:void(0)" (click)="doLogout()"><span>logout</span></a>
        </div>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle btn-gray"
                aria-controls="dropdown-basic">
          Wallets <span class="caret"></span>
        </button>
        <ul id="wallets-select" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li *ngFor="let wallet of wallets" (click)="selectWallet(wallet.id)">
            <a class="dropdown-item">{{wallet.secretType}} - {{wallet.address}}</a>
          </li>
        </ul>
      </div>
      <div id="wallet-details" *ngIf="wallet">
        <div class="offset-lg-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="pb-xlg h-100">
            <section class="widget mb-0 h-100">
              <header class="d-flex justify-content-between flex-wrap">
                <h5 class="d-flex align-items-center pb-1 big-stat-title">
                  <span class="circle bg-info mr-sm" style="font-size: 6px;"></span>
                  Balance
                </h5>
              </header>
              <div class="widget-body p-0">
                <h5 class="fw-semi-bold ml-lg mb-lg">{{wallet.balance?.balance}} {{wallet.balance?.symbol}}</h5>
                <div class="d-flex border-top">
                  <div class="w-50 border-right p-3 px-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6>Gas Balance</h6>
                      <i class="fa fa-circle float-right text-success mt-sm"></i>
                    </div>
                    <p class="text-muted mb-0 mr"><small class="fw-semi-bold">{{wallet.balance?.gasBalance}} {{wallet.balance?.gasSymbol}}</small></p>
                  </div>
                  <div class="w-50 p-3 px-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6>Tokens</h6>
                      <i class="fa fa-circle float-right text-success mt-sm"></i>
                    </div>
                    <p class="text-muted mb-0 mr"><small id="wallet-tokens" class="fw-semi-bold"></small></p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <h3 class="font-weight-light" *ngIf="wallet">
        Send <span class="font-weight-bold">Payment</span>
      </h3>
    </div>
    <div *ngIf="!loggedIn">
      <h3>User authorization...</h3>
    </div>
  </div>
</div>

<div class="modal-body" *ngIf="wallet">
  <form id="transaction-form" (submit)="doTransaction()">
    <div id="wallets">
      <div id="selected-wallet" class="hidden">
        <div id="transaction" class="m-auto">
          <div class="form-group row">
            <label for="transaction-to" class="col-md-4 form-control-label text-md-right">To:</label>
            <div class="col-md-7">
              <input type="hidden" id="secret-type" name="secretType" value="" class="form-control"/>
              <input type="text" id="transaction-to" name="to" value="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="transaction-to" class="col-md-4 form-control-label text-md-right">Token (optional):</label>
            <div class="col-md-7">
              <select id="transaction-token" name="tokenAddress"></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="transaction-to" class="col-md-4 form-control-label text-md-right">Amount:</label>
            <div class="col-md-7">
              <input type="text" id="transaction-amount" name="amount" value=""/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <input type="submit" class="m-auto" style="width: unset" value="Execute transaction"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-body" *ngIf="!wallet">
  <div class="auth-not-logged-in" *ngIf="!loggedIn">
    <div class="loader animated fadeIn text-center">
      <span class="spinner"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></span>
    </div>
  </div>
</div>


<div class="modal-footer" *ngIf="wallet">
</div>


