<!--WALLET TAB CONTENT-->
<!-- see this page for the Select menu -->
<!-- https://demo.flatlogic.com/sing-app/angular/#/app/forms/elements -->

<div class="tab-content mb-lg">
  <div aria-labelledby="tabs-0-tab" role="tabpanel" class="tab-pane active in clearfix" id="tabs-0"
       aria-expanded="true">
    <form id="tabs-1" class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" role="form"
          _lpchecked="1">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="normal-field">To</label>
          <div class="col-md-7 ">


            <div class="input-group">
                  <span class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                  </span>
              <input class="form-control" id="secret-type" name="secretType" type="hidden" value="VECHAIN">
              <input class="form-control" id="wallet-address" name="secretType" type="hidden" value="0x110A84aFB1C0BEfA080dD6C36265e8178dFdA67B">
              <input placeholder="Enter recipient address" class="form-control ng-pristine ng-invalid ng-touched" id="transaction-to" name="to" placeholder="enter recipient address" required="" type="text">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-md-right" for="normal-field">
            Token <span class="help-block">Optional</span>
          </label>
          <div class="col-md-7">
            <select2 id="default-select">
              <select data-select2-id="23" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                <option value="Magellanic" data-select2-id="24">Large Magellanic Cloud</option>
                <option value="Andromeda" data-select2-id="25">Andromeda Galaxy</option>
                <option value="Sextans" data-select2-id="26">Sextans A</option>
              </select>
              <span
                class="select2 select2-container select2-container--bootstrap select2-container--below select2-container--focus"
                dir="ltr" data-select2-id="27" style="width: 250px;">
                          <span class="selection">
                            <span class="select2-selection select2-selection--single" role="combobox"
                                  aria-haspopup="true" aria-expanded="false" tabindex="0"
                                  aria-labelledby="select2-gqb7-container">
                              <span class="select2-selection__rendered" id="select2-gqb7-container" role="textbox"
                                    aria-readonly="true" title="Large Magellanic Cloud">Large Magellanic Cloud</span>
                              <span class="select2-selection__arrow" role="presentation"><b
                                role="presentation"></b></span>
                            </span>
                          </span>
                          <span class="dropdown-wrapper" aria-hidden="true"></span>
                        </span>
            </select2>
            <!-- <select _ngcontent-c2="" id="transaction-token" name="tokenAddress" class="ng-pristine ng-valid ng-touched"><option value="">VET</option><option value="0x0000000000000000000000000000456e65726779">VTHO</option></select> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="normal-field">Amount</label>
          <div class="col-md-7 ">
            <div class="input-group">
		                  <span class="input-group-prepend">
		                    <span class="input-group-text">
		                      <i class="fa fa-ticket"></i>
		                    </span>
		                  </span>
              <input placeholder="Enter number of tokens"
                     class="form-control ng-pristine ng-invalid ng-touched" id="transaction-amount" name="amount"
                     placeholder="enter number of tokens" required="" type="number">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 form-control-label text-md-right" for="transaction-to"></label>
          <div class="col-md-7">
            <button class="btn btn-block btn-inverse mb-xs m-auto" role="button" disabled="">
              <i class="fa fa-flash text-info"></i>&nbsp;Transfer
            </button>
          </div>
        </div>

      </fieldset>
      <br>
    </form>
  </div>
</div>


<!--BALANCE SUMMARY-->
<section class="widget">
  <div class="widget-body clearfix">
    <div class="row flex-nowrap">
      <div class="col-3"><span class="widget-icon"><i class="fa fa-ticket text-warning"></i></span></div>
      <div class="col-9">
        <h6 class="m-0">VIOS BALANCE</h6>
        <p class="h2 m-0 fw-normal">7,448</p>
      </div>
    </div>
    <div class="row flex-nowrap">
      <div class="col-6">
        <h6 class="m-0">VeChain Holdings</h6>
        <p class="value5">83,541 VET</p>
      </div>
      <div class="col-6">
        <h6 class="m-0">Gas Balance</h6>
        <p class="value5">17,926 VTHO</p>
      </div>
    </div>
  </div>
</section>


<!-- WALLET HEADER LABEL (make username bold) -->
<h5 class="modal-title">Arkane Account - <span class="fw-semi-bold">Rudi Bot</span></h5>
