.visit-marketplace {
  position: absolute;
  left: 14px;
}

.modal-body select {
  display: block;
  height: 35px;
  width: 100%;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 24px;
  padding: 0 5px;
  margin-bottom: 10px;
  max-width: 100%;
  &.select-wallet {
    max-width: 20%;
  }
  option {
    padding: 0.5rem 1rem;
  }
}

.fa-user {
  padding: 0 2px;
}

::ng-deep {
  app-fi-icons {
    &.vios-balance {
      svg {
        height: 40px !important;
        width: 40px !important;
      }
    }
  }
}
.amount {
  .input-group-prepend .input-group-text {
    width: 36px;
    height: 33px;
    app-fi-icons {
      position: absolute;
      left: 10px;
    }
  }
}
