@import "~scss/helpers";
@import "~scss/slider";

.input-group.input-group-no-border  {
  #keywords {
    order: unset;
    padding: unset;
    padding-left: 10px;
    border-radius: 0.3rem 0 0 0.3rem !important;
  }
  .input-group-text {
    -webkit-border-radius: 0 0.3rem 0.3rem 0;
    -moz-border-radius: 0 0.3rem 0.3rem 0;
    border-radius: 0 0.3rem 0.3rem 0;
  }
}
.badge-warning {
  background-color: #9964e3 !important;
}
.text-warning {
  color: #9964e3 !important;
}

.bg-warning {
  background-color: #9964e3 !important;
}

/*
.vios-app {
  .form-group {
    margin-bottom: 0;
  }
}

#angular_recordViewer {
  height: 100%;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 10px 5px 10px 0;
}
.breadcrumb-item {
  display: flex;
  flex-direction: column;
  .row {
    margin: 0;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  content: '';
}

.thumb-sm {
  width: unset !important;
}
div h6 {
  display: flex;
  width: calc(100% - 90px);
  i {
    position: absolute;
    top: 9px;
    right: 8px;
  }
  div {
    margin-left: auto;
    position: absolute;
    top: -1px;
    right: 8px;
  }
}

.table.table-striped {
  h6 {
    position: relative;
    .form-check-inline {
      position: absolute;
      top: -10px;
      right: -70px;
    }
  }
}

#angular_recordsList .list-group-item {
  div {
    display: flex;
    .abc-checkbox label::before {
      top: -10px;
    }
  }
}

.vios-body {
  padding: 20px 20px 20px 0;
}

.vios-button a {
  color: #9964e3 !important;
  &:hover {
    color: #8444dd !important;
  }
}

.group.fa.fa-compress {
  right: 46px;
}

#dataCanvas {
  .bg-info {
    background-color: #af86e9 !important;
    #focusHeader {
      border-radius: 0.25rem;
      background-color: #9964e3 !important;
    }
  }
}

#ex1Slider .slider-selection {
  background-color: red;
}

.content-wrap {
  left: 0;
}
*/
